[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
channels = "*"
django-rest-framework = "*"
loguru = "*"
shellescape = "*"
celery = "*"
django-celery-results = "*"
django-redis = "*"
psycopg2 = "*"
yapf = "*"

[dev-packages]

[requires]
python_version = "3.6"
