[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
channels = "*"
django-rest-framework = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.6"
